extends layout

block content
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .col-md-12
            .overview-wrap
              h2.title-1 overview
              button.au-btn.au-btn-icon.au-btn--blue
                i.zmdi.zmdi-plus
                | add item

block customscripts