doctype html
head
  include partials/commonhead
  link(rel='stylesheet' href='/css/signin.css')
.main.sign-in
  .login-card
    .logo
    .card-head
      h3.header.text-center Admin Sign In
    .card-body
      include partials/messages
      form#frmLogin(action='/admin/signin' method='POST' data-parsley-validate)
        .form-group
          label.form-label Email
          input#txtUsername.form-control(name='email' type='email' required value= email ? email : '')
        .form-group
          label.form-label Password
          input#txtPassword.form-control(name='password' type='password' required)
        .form-group
          button#btnSignIn.btn.btn-success.btn-block(type='submit') Sign In
include partials/commonscripts
script(src='/js/parsley.min.js')