nav.navbar.fixed-top.navbar-expand-lg.scrolling-navbar.double-nav.bg-white
    .container-fluid
      .float-left
        a.text-dark(href='#' data-activates='slide-out')
          i.fas.fa-bars
      ul.nav.navbar-nav.nav-flex-icons.ml-2
        li.nav-item.active
          a.nav-link.waves-effect
            i.fas.fa-envelope
            span.clearfix.d-none.d-sm-inline-block My Shipments
        li.nav-item
          a.nav-link.waves-effect
            i.fas.fa-envelope
            span.clearfix.d-none.d-sm-inline-block BL
        li.nav-item
          a.nav-link.waves-effect
            i.far.fa-comments
            span.clearfix.d-none.d-sm-inline-block Container
        li.nav-item
          a.nav-link.waves-effect
            i.fas.fa-envelope
            span.clearfix.d-none.d-sm-inline-block Insights
      ul.nav.navbar-nav.ml-auto
        li.nav-item
          a(href="signout").nav-link.waves-effect
            span Logout
        li.nav-item.help
          a.nav-link.waves-effect
            span.clearfix.d-none.d-sm-inline-block.mr-2 Help
            i.fas.fa-question