doctype html
html
  head
    include partials/commonhead
    link(rel="stylesheet", href="/css/dashboard.css")
    block customhead
  body
    block content
    include partials/commonscripts
    block customscripts