script(src="/js/jquery.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/admin/animsition.min.js")
script(src="/js/admin/theme.js")
script(src="/js/admin/parsley.min.js")
script(src="https://momentjs.com/downloads/moment.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js")
script(src="/js/admin/jquery.tablesort.min.js")